// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .example-container{
    padding: 12px;
  }
  
  .example-right-align {
    text-align: right;
  }

//   .my-container{
//     width: 25%;
//     // text-align: center;
//     border: 1px solid black;
//     margin: 30px auto;
//     box-shadow: 5px 5px 5px 5px #888888;
//   }

  .width{
    width: 100%;
  }
  
  .btn{
    margin: 12px;
  }