table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .cursor{
    cursor: pointer;
  }

  // .width{
  //   width: 100%;
  // }

  // .example-sidenav-content{
  //   display: flex;
  //   width: fit-content;
  // }